<div id="<%= dom_id listing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= listing.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= listing.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= listing.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= listing.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= listing.category_id %>
  </p>

</div>
