<div class="container">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Categories" %>
    <h1 class="title">Categories</h1>

  <div>
    <%= link_to "New category", new_category_path, class: "button is-primary" %>
  </div>
<br>

  <table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th>Sno</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
       <% @categories.each_with_index do |category, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td>
              <%# <%= link_to "Show this category", category %>
              <a href="<%= category_path(category.id) %>" title="Show Category">
                <span class="icon">
                  <i class="fas fa-eye"></i>
                </span>
              </a>
              
 
              </td>
          </tr>
      <% end %>
    </tbody>
    </table>
</div>
